
.heading-border.section-title:before,
.heading-border.section-title:after {
    margin: 0 2.5rem;
}

.heading-border:before,
.heading-border:after {
    content: '';
    /* margin: 0 8px; */
    flex: 1;
    -ms-flex: 1;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.heading-border {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  /* margin: 0 -8px; */
}

.section-title {
  text-transform: none;
  font-size: 1.3rem;
}
.chip {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
}

.see-more{
  display: inline-block;
  /* width: 100%; */
  color: #fff;
  text-decoration: none;
  padding: 10px 12px;
  text-align: center;
  /* margin-top: 20px; */
  /* padding: 0 !important; */
  background-color: #984CF3;
}
