a {
  color: #ffffff !important;
}

.navbar-toggler{
  border: none;
}
.navbar-toggler:focus{
  box-shadow: none;
}
.navbar-brand {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: capitalize !important;
  text-shadow: 1px 1px 5px yellow;
  font-style: italic;
  animation: glow 1.5s ease-in-out 1s infinite alternate-reverse both;
}

@keyframes glow {
50%{
  transform: scale(1);
}
100%{
  transform: scale(1.04);
}
}

@media only screen and (max-width: 768px) {
  .cartBadge{
    top: 7px !important;
    left: 13% !important;
  }
}
