<div class="container py-5">
  <h2 class="section-title heading-border border-0 mb-4" id="h-cat" style="color: #984CF3;">Product Detail</h2>
  <div class="row px-lg-5">
    <div class="col-lg-5 col-md-8 mx-auto mb-5">
      <div class="card shadow-sm px-0">
        <div class="card-image position-relative">
            <span class="btn-lg price rounded-pill">₦{{ product.price }}</span>
            <img src="{{ product.url }}" class="hostel-image rounded-top" alt="product-img">
            <span class="card-title">
              <span>{{ product.category }}</span>
            </span>
        </div>

        <ul class="card-action-buttons">
          <li class="">
            <a href="https://www.facebook.com/sharer/sharer.php?u=/products/{{ product.id }}" target="_blank"
              class="btn-floating rounded-circle waves-effect waves-light white">
              <fa-icon style="color: #984CF3;" [icon]="Sicon.faShareAlt"></fa-icon>
            </a>
          </li>
        </ul>
        <div class="card-content">
          <div class="row">
            <div class="col s12">
              <p>
                <strong>{{ product.name }}</strong><br />
                {{ product.description }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="border-top pt-2" style="width: 98%; margin: auto;">
              <div class="actions d-flex align-items-center justify-content-between flex-no-wrap">
                <a routerLink="/"
                  class="btn-floating rounded d-block waves-effect waves-light white p-2 me-4" style="text-decoration: none; color: #f34c76;">
                  <fa-icon style="color: #f34c76;" [icon]="Sicon.faAngleDoubleLeft" size="lg"></fa-icon>
                  Back
                </a>
                <app-add-to-cart-form class="w-auto" [product]="product"></app-add-to-cart-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
