/* start section heading */

.heading-border.section-title:before,
.heading-border.section-title:after {
    margin: 0 2.5rem;
}

.heading-border:before,
.heading-border:after {
    content: '';
    /* margin: 0 8px; */
    flex: 1;
    -ms-flex: 1;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.heading-border {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  /* margin: 0 -8px; */
}

.section-title {
  text-transform: none;
  font-size: 1.3rem;
}

.hostel-image {
  height: 360px !important;
}
/* end section heading */

@media only screen and (max-width: 768px) {

  .heading-border.section-title:before,
  .heading-border.section-title:after {
      margin: 0 1.5rem;
  }

}
